.env
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.idea/

# Generated datasets
data/*.csv
!data/.gitkeep

# Generated images
images/*.png
!images/wordstat_vs_pypl_top10.png
!images/.gitkeep
